<!DOCTYPE html>
<html>
    <head>
        <title>Your Machine Learning App</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;">
            <br>
	  Height: <select name="height" type="number" id="height" width="80px">
  <option value=145>145</option>
  <option value=290>290</option>
  <option value=370>370</option>
  <option value=147>147</option>
</select>

            <!-- Height: <input type="number" name="Height", placeholder="Enter height in cm" required/> -->
            <br><br>
            Weight: <input type="number" name="weight", placeholder="Enter weight in kg" required/>
            <br><br>
            <button value="Submit">Run</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>